.container{
    margin: 50px 20%;
    background: wheat;
    padding: 40px;
    width: 60%;
}
.text-input{
    width: 80%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}
button{
    height: 40px;
    width: 60PX;
    background-color: brown;
    color: white;
    font-size: 20px;
    border-radius: 10px;  
}
    UL{
        font-size: 24PX;
        list-style: none;
    }
